<div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
        <ng-container matColumnDef="select">
            <th mat-header-cell *matHeaderCellDef>
                <mat-checkbox
                    (change)="onMasterCheckboxChange($event)"
                    [checked]="isMasterCheckboxChecked()"
                    [indeterminate]="isMasterCheckboxIndeterminate()">
                </mat-checkbox>
            </th>
            <td mat-cell *matCellDef="let row">
                <mat-checkbox
                    (change)="onCheckboxChange($event, row)"
                    [checked]="isCheckboxChecked(row)"
                    (click)="onCheckboxClicked($event)">
                </mat-checkbox>
            </td>
        </ng-container>
        <ng-container *ngFor="let columnDefinition of columnDefinitions" matColumnDef="{{columnDefinition.fieldName}}">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>{{columnDefinition.headerLabel}}</th>
            <td mat-cell *matCellDef="let element">{{element[columnDefinition.fieldName]}}</td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>