<form [formGroup]="userForm">
    <div>
        <mat-form-field>
            <input matInput placeholder="User Name" formControlName="name">
            <mat-error>
                Please input user name
            </mat-error>
        </mat-form-field>
    </div>
    <div>
        <mat-form-field>
            <input matInput placeholder="Email" formControlName="email">
            <mat-error>
                Please input valid email address
            </mat-error>
        </mat-form-field>
    </div>
    <div>
        <button mat-raised-button [disabled]="userForm.invalid" (click)="apply($event)">
            Apply
        </button>
    </div>
</form>