<div *ngIf="beer">
    <h2>{{ beer.name | uppercase }} Details</h2>
    <div>
        <mat-form-field>
            <input matInput [(ngModel)]="beer.id" placeholder="ID" disabled="true">
        </mat-form-field>
    </div>
    <div>
        <mat-form-field>
            <input matInput [(ngModel)]="beer.name" placeholder="Name">
        </mat-form-field>
    </div>
    <div>
        <mat-form-field>
            <input matInput [(ngModel)]="beer.country" placeholder="Country of Origin">
        </mat-form-field>
    </div>
    <div>
        <img src="{{getImagePath()}}">
    </div>
    <button mat-raised-button (click)="goBack()">Go Back</button>
    <button mat-raised-button color="warn" (click)="delete()">Delete</button>
    <button mat-raised-button (click)="save()">Save</button>
</div>